<%- include("header", {title: title}); %>
<main>
    <h1>Welcome to the CoffeeTea shop!</h1>

    <p>This school project has been made by Elena Perers with in the cours "Data base" at BTH.</p>
</main>



<%- include("footer"); %>
